table.rwd_auto {
    border:1px solid #ccc;
    width:100%;
    margin:0;
}
.rwd_auto th {
    background:#ccc;
    padding:5px;
    text-align:center;
}
.rwd_auto td {
    border: 1px solid #ccc; 
    border-bottom:1px solid #ccc;
    padding:5px;
    text-align:left;
}
.rwd_auto tr:last-child td{
    border:1px solid #ccc
}
		
.rwd {
    width: 100%;
	overflow-x: auto;
    overflow-y: auto
	margin: 0 0 1em;
}

.rwd::-webkit-scrollbar
{
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
}

.rwd::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    overflow: auto;
}

.rwd::-webkit-scrollbar-thumb
{
	border-radius: 12px;
    background: rgb(204, 204, 204); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.rwd table.rwd_auto {
    width:200px;
    min-width:100%;
}
.rwd_auto th,.rwd_auto td {
    white-space: nowrap;
}