<!DOCTYPE html>
<html lang="en" ng-app="linked">
<head>
   <meta charset="UTF-8">
   <title>Consumo de API's para el acceso a recursos alojados en repositorios bajo principios de LD o LOD</title>
   <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  
    <div class="rwd" ng-controller="DBpediaController">
		<table class="rwd_auto">
			<thead>
			<tr>
				<th>Pais</th>
				<th>Poblacion</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="consulta in respuesta.results.bindings">
				<td>{{consulta.country_name.value}}</td>
				<td>{{consulta.population.value}}</td>
			</tr>
			</tbody>
		</table>
	</div>         
   
   
   <script src="js/lib/angular.min.js"></script>
   <script src="js/lib/angular-resource.min.js"></script>
   <script src="js/app.js"></script> 
   <script src="js/controllers.js"></script>   
   <script src="js/services.js"></script>
</body>
</html>
